<% include partials/headtop %>
<header class="header" data-header>
    <div class="container" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <a href="/user/login" class="btn btn-primary">
            <span class="text text-1">Login as user</span>

            <span class="text text-2" aria-hidden="true">Login as user</span>
        </a>
        <a href="/admin/login" class="btn btn-secondary">
            <span class="text text-1">Login as admin</span>

            <span class="text text-2" aria-hidden="true">Login as admin</span>
        </a>
    </div>
</header>
<% include partials/headbottom %>